workflows/automated-daily-workflow-backup-to-github-.json
{
  "createdAt": "2025-06-10T14:42:53.235Z",
  "updatedAt": "2025-06-10T15:14:07.000Z",
  "id": "pUhm78EI7nfY1cUt",
  "name": "Automated daily workflow backup to GitHub",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "1e8f569b-d5c4-4ae4-8f14-ff458b841baa",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -460,
        -40
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "2f8d66ec-174a-4bca-b58c-0383740a0f29",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        20,
        -40
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "q0gwtiqFjz5CLot6",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "f0d34fd4-9363-4f96-9021-349197a56d0d",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -140,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "peciulevicius",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n.peciulevicius.com",
          "mode": "list",
          "cachedResultName": "n8n.peciulevicius.com",
          "cachedResultUrl": "https://github.com/peciulevicius/n8n.peciulevicius.com"
        },
        "filePath": "=/workflows"
      },
      "id": "ed8a6c3e-29f1-499d-9ebb-348e4d250837",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -300,
        -40
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "hc6peP42CR1xSGbI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "peciulevicius",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n.peciulevicius.com",
          "mode": "list",
          "cachedResultName": "n8n.peciulevicius.com",
          "cachedResultUrl": "https://github.com/peciulevicius/n8n.peciulevicius.com"
        },
        "filePath": "=workflows/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "51d01bb8-9ed2-4dc9-9c61-94ecebde0076",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        820,
        -120
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "hc6peP42CR1xSGbI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "peciulevicius",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n.peciulevicius.com",
          "mode": "list",
          "cachedResultName": "n8n.peciulevicius.com",
          "cachedResultUrl": "https://github.com/peciulevicius/n8n.peciulevicius.com"
        },
        "filePath": "=workflows/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "64d66a0b-bf4d-4375-8a6d-0aa916c5d61e",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        820,
        40
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "hc6peP42CR1xSGbI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "c72a9bb0-fb16-40e5-bb73-f04987eed354",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        660,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "30eff285-dca2-4a02-a1e4-e9c8e424ad93",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        180,
        -40
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "259f35e5-6372-423f-a99e-08a8c1fe5477",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        340,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "c96b4fb3-eb16-4f88-a954-b0b054eb1982",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "f65450ec-b3bb-471d-85f2-ebca4233137a",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        500,
        -40
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "4c0549fc-f0a5-4362-beba-d7941e43a3fa",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "ef0c1f09-3ab4-4660-8872-fc7b52bedf7b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -180
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9f1407f8-048d-4ab4-82d3-b857b0259d33",
  "triggerCount": 1,
  "tags": []
}